*, *::after, *::before {
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  display: flex;
}

body {
  background-color: hsl(240, 3%, 7%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

.player-select {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(16, 3em);
  grid-template-rows: repeat(1, 3em);
  gap: .25em;
  margin-bottom: 1.5em;
}

.selectKey {
  font-size: 1em;
  color: white;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );  
  border: .05em solid hsl(240, 2%, 23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
  cursor: pointer;
  user-select: none;  
}


.selectKey.inactive {
  grid-template-columns: repeat(0, 0em);
  grid-template-rows: repeat(0, 0em);
  color: hsl(240deg 2.86% 6.86%);
  border: .05em solid hsl(240deg 2.86% 6.86%);  
  background-color: hsl(240deg 2.86% 6.86%);
  pointer-events: none
}

.keyboard {
  display: grid;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(8, 2em);
  grid-template-rows: repeat(15, 2em);
  gap: .25em;
  margin-bottom: 1.5em;
}

.sum {
  font-size: 1.5em;
  color: white;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 10%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );  
  border: .05em solid hsl(240, 2%, 23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

.sum.bust {
  --lightness: 23%;
  color: hsl(
    var(--hue, 200),
    var(--saturation, 10%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );  
}


.sum.active {
  --lightness: 53%;
  border-color: hsl(200, 1%, 99%);
}

.sum.stay {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}


.key {
  font-size: 1.5em;
  color: white;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );  
  border: .05em solid hsl(240, 2%, 23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}
.key > svg {
  width: 1.85em;
  height: 1.85em;
  pointer-events: none;
}

.key.bust {
  --lightness: 23%;
}

.key.inactive {
  grid-template-columns: repeat(0, 0em);
  grid-template-rows: repeat(0, 0em);
  color: hsl(240deg 2.86% 6.86%);
  border: .05em solid hsl(240deg 2.86% 6.86%);  
  background-color: hsl(240deg 2.86% 6.86%);
}
  
.key.active {
  border-color: hsl(200, 1%, 99%);
}

.key.stay {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

.guess-grid {
  display: grid;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(7, 4em);
  grid-template-rows: repeat(5, 4em);
  gap: .25em;
  margin-bottom: 1.5em;
}

.tile {
  font-size: 2em;
  color: white;
  border: .05em solid hsl(240, 2%, 23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

.tileEmpty {
  grid-column: span 7;
  display: flex;
  color: hsl(240deg 2.86% 6.86%)
  background-color: hsl(240deg 2.86% 6.86%)
}

.tileOneEmpty {
  grid-column: span 1;
  display: flex;  
  color: hsl(240deg 2.86% 6.86%)
  background-color: hsl(240deg 2.86% 6.86%)
}

.hitKey {
  grid-column: span 3;
  font-size: inherit;
  grid-column: span 3;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  border-radius: .25em;

}


.hitKey.press {
  background-color: hsl(216deg 70.59% 45.55%);
}

.hitKey.active {
  background-color: hsl(108.92deg 61.11% 43.34%);
  color: white;
  fill: hsl(108.92deg 61.11% 43.34%);
  cursor: pointer;
  user-select: none;
}



.stayKey {
  grid-column: span 3;
  font-size: inherit;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: .25em;
  pointer-events: none
}

.stayKey.active {
  background-color: hsl(216deg 70.59% 45.55%);
  color: white;
  fill: hsl(216deg 70.59% 45.55%);
  cursor: pointer;
  user-select: none;
}

.hitKey > svg {
  width: 1.75em;
  height: 1.75em;
  pointer-events: none;
}
.hitKey:hover, .hitKey:focus {
  --lightness-offset: 10%;

.stayKey > svg {
  width: 1.75em;
  height: 1.75em;
  pointer-events: none;
}


.nextKey {
  grid-column: span 3;
  font-size: inherit;
  grid-column: span 3;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(47.08deg 74.44% 48.74%);
  color: white;
  fill: hsl(47.08deg 74.44% 48.74%);
  text-transform: uppercase;
  border-radius: .25em;
  cursor: pointer;
  user-select: none;
}

.nextKey:hover, .hitKey:focus {
  --lightness-offset: 10%;

.nextKey > svg {
  width: 1.75em;
  height: 1.75em;
  pointer-events: none;
}


  
.tile[data-state="active"] {
  border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"] {
  border: none;
  background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong-location"] {
  border: none;
  background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
  border: none;
  background-color: hsl(115, 29%, 43%);
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}

.tile.flip {
  transform: rotateX(90deg);
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }

  30% {
    transform: translateX(5%);
  }

  50% {
    transform: translateX(-7.5%);
  }

  70% {
    transform: translateX(7.5%);
  }

  90% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }  

  40% {
    transform: translateY(5%);
  }  

  60% {
    transform: translateY(-25%);
  }  

  80% {
    transform: translateY(2.5%);
  }  

  90% {
    transform: translateY(-5%);
  }  

  100% {
    transform: translateY(0);
  }
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
<div class="container">
  <div>guess-grid</div>
  <div>keyboard</div>

</div>
.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: .75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: .5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}
